
.sign-meup-btn,
.get-qt-btn,
.req-btn {
  margin-top: 100px;
}

/* .cmn-btn {
  margin-top: 100px;
}
.rn-skill-area .slide {
  padding-bottom: 0px;
}
.rn-testimonial-area {
  padding-bottom: 80px;
}
@media only screen and (max-width: 1399px) {
  .zoom-80 {
    transform: scale(1);
  }
  .rn-section-gap,
  .rn-section-gapTop,
  .home-classic .portfolio-style-two {
    padding: 0px;
  }
  .slide {
    padding-bottom: 0px;
  }
  .cmn-btn {
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .rn-about-area,
  .rn-skill-area,
  .rn-client-area,
  .rn-blog-area,
  .rn-service2-area {
    padding: 80px 0px;
  }
  .rn-testimonial-area,
  .rn-pricing-area {
    padding: 20px 0px;
  }
  .ready-btn,
  .req-btn {
    margin-top: 40px;
  }
} */
